/* Show it is fixed to the top */
body{
	font-family: Trebuchet MS, sans-serif;
	min-height: 75rem;
	padding-top: 4.5rem;
}

img {
  width: 100%;
}


.navbar .navbar-nav .active>.nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show>.nav-link{
    color: #010101;
	font-size: 25px;
	
}
.navbar .navbar-nav .nav-link{
    color: #1e1e1e;
	font-size: 25px;
}
.nav-height-122{
	height: 122px;
}
.navbar{
	background: #fbf7f7;
//	opacity: 70%;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.spacer-200{
	height: 200px;
}
.spacer-44{
	height: 44px;
}
.spacer-19{
	height: 19px;
}
.spacer-10{
	height: 10px;
}
.margin-left{
	margin-left: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


#desktop-only{
	text-align: justify;
}
#mobile-only{
	text-align: center;
}



/*** Responsiveness ***/ 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#mobile-only, .mobile-only{display: block;}
	#desktop-only{display: none;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px- md) {
	#mobile-only, .mobile-only{display: block;}
	#desktop-only, .desktop-only{display: none;}  
}

/* Medium devices (landscape tablets, 768px and up- lg) */
@media only screen and (min-width: 768px) {
	#mobile-only, .mobile-only{display: none;}
	#desktop-only{display: block;}
	

} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#mobile-only, .mobile-only{display: none;}
	#desktop-only{display: block;}
	#spacer-none{display: none;}
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}









